<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>
</head>
<body>
  <h1>Perfil de <%= user.nombre_usuario %></h1>
  <div>Rol: <%= user.rol %></div>
  <form id="uploadForm" action="/perfil/subir-imagen" method="POST" enctype="multipart/form-data">
    <input type="file" name="profilePicture" required />
    <button type="submit">Subir Imagen</button>
  </form>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('uploadForm');
        form.addEventListener('submit', (e) => {
            e.preventDefault(); // Evita el comportamiento por defecto del formulario

            const formData = new FormData(form);

            fetch(form.action, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.profilePicturePath) {
                    // Redirige al dashboard y pasa la ruta de la imagen
                    window.location.href = `/dashboard?profilePicturePath=${encodeURIComponent(data.profilePicturePath)}`;
                } else {
                    alert('No se ha cargado ninguna imagen.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error al subir la imagen');
            });
        });
    });
  </script>
</body>
</html>
